@CHARSET "UTF-8";
#forgot_password_link {border: medium none;width: 32%;text-align: left;padding-left: 0; display: inline;}
.morph-content #contact_form input[type="submit"], .morph-content #Login_Form input[type="submit"]{ margin-top: -60px;}
.morph-content #Login_Form label[for="UserRememberMe"] {text-align: left; color:#666;width: 46%}
.input.checkbox > input {float: left;width: auto;}
.add_more_btn {margin-right: 226px;margin-top: 0;}
.contact_address label{float: left;font-weight:normal;}
.submit {
    border: medium none;
    float: right;
    width: auto;
}
#login_link {
    font-size: 14px;
    margin: 15px 124px;
}
#Forgot_Form div{border:none;}


#modalContact .modal-title {
    margin: 0 0 15px;    
}
#modalMessage .modal-title {
	text-transform: none;
}
#modalForgot .modal-title {
    margin: 30px 0 10px;
}
#Forgot_Form {
    border-top: 1px solid #eee;
}
.col-md-5.col-md-offset-1.col-sm-6.right_benifit_phone {
    margin-top: 150px;
}
.contact_address h4, .contact_address ul{ text-align: center;}
.contact_address h4{ font-size: 17px; font-weight: bold;text-align: center;margin-top: 20px;color: #008584;}
.contact_addr_h3{ border-bottom: 1px solid #ccc;padding-bottom: 5px;margin-top: 15px;}
.contact_address.contact_addr_div {
    background: #f9f9f9 none repeat scroll 0 0;
    border-radius: 8px;
    padding: 25px;
}
a .phone_number:hover {
    color: #0090A1;
}

.phone_number{color: #000;font-weight: bold;}
#innovations .title p {text-align: center;color: #000;font-size: 20px;}
.features_main p, .benifits_main p{ color:#1f1f1f;}
.benifits_main a.link_contact{  }
.benifits_main a.link_contact:link, .benifits_main a.link_contact:visited{ border-bottom: 2px solid #ab8c5b;color: #ab8c5b;font-weight: bold;}
.benifits_main a.link_contact:hover{ border-bottom: none; text-decoration: none;}
.why_skoolbeep p{ text-align: justify;color: #000;}
.badge_icon{text-align: right;position: absolute;right: -36px;top: -57px;}
.main_banner_div{ position:relative;}
.main_banner_div h1{font-family: 'Muli', sans-serif;}
.main_banner_div h1 .type {font-weight: bold;color: #F2AA06;}



#download h2 .soc-icon-android, #download h2 .soc-icon-apple{ color: #ffffff;}

#download h2 .soc-icon-android:hover, #download h2 .soc-icon-apple:hover{ color: black;}

/*------------------------- changed by shaiju on 02-03-16-----------------------------------------*/

.fog{ background:none;}


#blog-intro .terms-bg{background-image: url(../../../img/v2/home/terms_use_img.jpg);opacity: 0.25;background-position: center;}
.terms-bg{position: absolute;top: 0;left: 0;z-index: 0;opacity: 0.15;background-repeat: no-repeat;background-position: center;background-size: cover;height: 120%;
width: 100%;}
#blog{ padding: 56px 0;}
#blog ul {padding-left: 35px;padding-bottom: 15px;}
#blog ul li{ list-style-type: circle;}
#blog p a:link,#blog p a:visited{ color: #108785;}

.why_skoolbeep .black-text{color: #000;}

.flash.flash_success{background-color:#F3FAEF;border: 1px solid #C9E1BD;border-radius: 4px;color:#325E1C;margin-bottom: 20px;padding: 5px 15px;position: fixed;width: 95%;z-index: 4;}

.flash.flash_failure{background-color:#FCF4F2;border: 1px solid #F9C9BF;border-radius: 4px;color:#A51B00;margin-bottom: 20px;padding: 5px 15px;position: fixed;width: 95%;z-index: 4;}
 
.modal-content{border-radius:8px !important;}
.contact_address .form-group textarea{color: #222;}
.contact_address .form-group textarea:focus{border-color: #F7C335 !important;}
#modalContact .modal-content input{ padding: 15px 15px 15px 0; line-height: 1.3em;}
.contact_address.contact_addr_div{padding-top:0 !important; display: inline-block;}
#Forgot_Form{padding-bottom: 30px;padding-top:20px;}
#modalForgot .modal-title{ margin: 30px 0 10px;}
#modalForgot .modal-content{padding-top:10px !important;}

/*------------------------------------------------------------------*/
/*----------jun4-2016-shaiju-open----------------------*/

.morph-content .keep-logged-in{ display: flex;}
.morph-content .keep-logged-in label{ width:100%!important;}
.morph-content  input.login_btn {margin-top: 0 !important;}
.morph-content input, #modalContact .modal-content input, #modalForgot .modal-content input{ padding: 15px;}
.no-padding{ padding: 0;}
#forgot_password_link{  text-align: left;}
.forgot-pwd-link{ text-align: left;}

/*----------jun4-2016-shaiju-close----------------------*/

@media screen and (max-width:320px) {
.morph-button-fixed, .morph-button-fixed .morph-content {height: 46px !important;width: 100px !important;}
.navbar-toggle{padding: 0 6px;}
}

@media screen and (max-width:360px) {
.morph-button-fixed, .morph-button-fixed .morph-content button{width: 144px !important;height:50px !important; }
.morph-button-fixed > button{ font-size:initial;}
}

@media screen and (max-width:480px) {
.morph-content #contact_form input[type="submit"],.morph-content #Login_Form input[type="submit"], #Forgot_Form input[type="submit"]{ float: none !important; display: block; clear: inherit;}
#innovations .title p {font-size: 15px;}
}

@media screen and (max-width: 800px) {
.morph-button-fixed, .morph-button-fixed .morph-content {height: 45px;line-height: 30px;width: 114px;font-weight: bold;}
}

@media only screen and (min-device-width:980px) and (max-device-width:1024px){
.navbar .nav li a{ padding: 0 16px;}
}

@media screen and (max-width:1024px) {
    .badge_icon{position: relative;  right: 0; left: 0; text-align: center;}

}

@media screen and (min-device-width: 1024px){	
h1.slogan p.slogan_text_p {
    font-size:60px;
    /* font-weight: normal; */
    line-height:74px;
    padding-bottom: 3px;
    padding-top:63px;}
    
.header_custom_tab{ padding: 0 95px;}
}

/*-----------------------------Open by shaiju on 28-09-16--------------------------------*/
.navbar-collapse{ max-height: none;}
.sb-nav{ width:100% !important;}
.menus-wrap{ margin-left: 0 !important;}
.keep-logged-in label{display:inline;margin-left: 3px;}

.modal-content button.close{
position: absolute;top: 10px;right:20px;}

@media screen and (max-width: 360px){
.morph-content button.close {
width:0 !important;height:0px !important;}
}
@media screen and (min-width:980px){
.keep-logged-in .input.checkbox{display: flex; padding-left: 0;} 
}

/*-----------------------------close by shaiju on 28-09-16--------------------------------*/


