@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,500);
/*--------------------- FONT (OPEN SANS) IMPORT FROM GOOGLE FONTS ----------------------*/
/*----------------------------------------------------------------------------------------
										COMMON STYLES
-----------------------------------------------------------------------------------------*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #777;
    line-height: 1.6;
    text-align: center;
}
a {
    color: #444;
    text-decoration: none;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
a:hover {
    color: #00aeff;
    text-decoration: none;
}
h1 {
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-size: 39px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 20px;
}
h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    color: #444;
    font-weight: lighter;
    line-height: 1.2;
    margin: 30px 0 10px 0;
}
h1.sep,
h2.sep,
h3.sep,
h4.sep {
    margin: 80px 0 20px 0;
}
h1 strong,
h2 strong,
h3 strong,
h4 strong {
    font-weight: bold;
    text-transform: none;
}
ul {
    margin: 0;
    padding: 0px;
    list-style: none;
}
#wrap {
    overflow: hidden;
}
section {
    padding: 120px 0;
    position: relative;
    background: #fff;
    z-index: 2;
    overflow: hidden;
}
blockquote,
code {
    background: #f8f8f8;
    padding: 25px 25px 25px 75px;
    display: block;
    position: relative;
    border-radius: 0;
    border: 0;
    overflow: hidden;
    text-align: left;
}
code {
    color: #03C;
    overflow: auto;
}
blockquote:before,
code:before {
    display: block;
    position: absolute;
    width: 50px;
    left: 0px;
    top: 0;
    bottom: 0;
    background: #00aeff;
    text-align: center;
    color: #fff;
}
blockquote:before {
    content: '""';
    font-size: 40px;
    padding-top: 15px;
}
code:before {
    content: '</>';
    font-size: 16px;
    padding-top: 25px;
}
blockquote small {
    text-align: right;
    padding: 20px 0 0 0;
    font-style: italic;
}
.container,
.container-fluid {
    position: relative;
    z-index: 1;
}
.form-group {
    margin: 0;
}
.form-control {
    padding: 20px 25px;
    font-size: inherit;
    height: auto;
}
.form-group .btn {
    border-radius: 0;
    font-size: inherit;
    padding: 20px;
}
.form-group input,
.input-group input,
.form-group textarea,
button {
    color: #222;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 0;
    border-radius: 0;
}
.input-group input:focus,
.form-group input:focus,
.form-group textarea:focus,
.input-group button:focus {
    box-shadow: none;
    transition: none;
    border: 0;
    outline: 0;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: 0px auto -webkit-focus-ring-color;
}
.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group {
    margin-left: 0;
}
.btn .icon {
    margin-right: 10px
}
.btn .icon-right {
    margin-left: 10px
}
.title h2 {
    display: block;
    position: relative;
    padding: 0 0 40px 0;
    margin: 0 0 60px 0;
}
.title h2:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 80px;
    background-color: #00aeff;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
}
.title p {
    display: block;
    margin: -20px 0 80px 0;
}
.download-btn {
    display: inline-block;
    height: 70px;
    border-radius: 35px;
    background: #d1d1d1;
    overflow: hidden;
    text-align: left;
}
.download-btn .btn-content {
    position: relative;
    margin: -67px 3px 0 3px;
    height: 64px;
    background-color: #fff;
    color: #00aeff;
    border-radius: 32px;
    padding: 12px 25px 0 70px;
    font-size: 12px;
    line-height: 18px;
}
.download-btn .btn-slide {
    background: #00aeff;
    height: 100%;
    width: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.download-btn:hover .btn-slide {
    width: 100%;
}
.ios-btn .btn-content,
.download-btn-alt.ios-btn {
    color: #000;
}
.android-btn .btn-content,
.download-btn-alt.android-btn {
    color: #669900;
}
.win-btn .btn-content,
.download-btn-alt.win-btn {
    color: #68217a;
}
.download-btn .icon,
.download-btn-alt .icon {
    font-size: 32px;
    position: absolute;
    left: 20px;
    top: 14px;
}
.download-btn b,
.download-btn-alt b {
    display: block;
    position: relative;
    font-size: 20px;
    font-weight: 700;
    z-index: 2;
}
.download-btn-alt {
    display: inline-block;
    position: relative;
    padding: 15px 30px 17px 70px;
    background: #fff;
    color: #00aeff;
    border-radius: 40px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    overflow: hidden;
}
.download-btn-alt .icon {
    top: 17px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.download-btn-alt:hover .icon {
    transform: rotate(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    color: #00aeff;
}
.download-btn-alt.invert:hover .icon {
    color: #fff;
}
.download-btn-alt.invert {
    color: #fff;
    background: #00aeff;
}
.download-btn-alt.ios-btn.invert {
    background: #000;
}
.download-btn-alt.android-btn.invert {
    background: #669900;
}
.download-btn-alt.win-btn.invert {
    background: #68217a;
}
.round-btn {
    border: 2px solid #ddd;
    border-radius: 30px;
    display: inline-block;
    padding: 0 30px;
    vertical-align: middle;
    line-height: 3.5;
}
.round-btn-sm {
    font-size: 14px;
    border: 1px solid #ddd;
    display: inline-block;
    padding: 0 15px;
    border-radius: 18px;
    vertical-align: middle;
    line-height: 2.5;
}
.round-btn:hover {
    color: #444;
    border: 2px solid #00aeff;
}
.round-btn-sm:hover {
    color: #444;
    border: 1px solid #00aeff;
}
.round-btn .icon {
    margin-right: 20px
}
.round-btn .icon-right {
    margin-left: 20px
}
.round-btn-sm .icon {
    margin-right: 10px
}
.round-btn-sm .icon-right {
    margin-left: 10px
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0px;
}
.color {
    color: #00aeff;
}
.bg-color-main {
    background-color: #00aeff;
}
.bg-color2 {
    background-color: #f8f8f8;
}
.bg-color3 {
    background-color: #000;
    color: #f8f8f8;
}
.bg-color-grad {
    background: #00aeff;
    /* Old browsers */
    
    background: -moz-linear-gradient(top, #00aeff 0%, #00e0a4 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00aeff), color-stop(100%, #00e0a4));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, #00aeff 0%, #00e0a4 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(top, #00aeff 0%, #00e0a4 100%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(top, #00aeff 0%, #00e0a4 100%);
    /* IE10+ */
    
    background: linear-gradient(to bottom, #00aeff 0%, #00e0a4 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00aeff', endColorstr='#00e0a4', GradientType=0);
    /* IE6-9 */
}
.bg-color3 h2,
.bg-color-main h2,
.bg-color-grad h2 {
    color: #f8f8f8;
}
.bg-color3,
.bg-color-main,
.bg-color-grad {
    color: #f8f8f8;
}
.bg-color3 .title h2:after,
.bg-color-main .title h2:after,
.bg-color-grad .title h2:after {
    background-color: #fff;
    opacity: 0.5;
}
.block-bg,
.block-video-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.15;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 120%;
    width: 100%;
}
.block-video-bg {
    text-align: left;
}
.item-list-right li {
    padding: 0 60px 20px 0;
    position: relative;
    text-align: right;
}
.item-list-right li .icon {
    font-size: 32px;
    position: absolute;
    right: 0;
    top: 0;
}
.item-list-left li {
    padding: 0 0px 20px 60px;
    position: relative;
    text-align: left;
}
.item-list-left li .icon {
    font-size: 32px;
    position: absolute;
    left: 0;
    top: 0;
}
.item-list-right h3,
.item-list-left h3 {
    margin: 0 0 25px 0;
}
.item-list-right.item-list-big li {
    padding: 0 80px 60px 0;
}
.item-list-left.item-list-big li {
    padding: 0 0px 60px 80px;
}
.item-list-big li .icon {
    font-size: 48px;
}
.item-list-right li:last-child,
.item-list-left li:last-child {
    padding-bottom: 0;
}
.panel {
    border: 1px solid #ddd;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.panel-heading {
    display: block;
    border-bottom: 1px solid #eee;
    font-weight: bold;
    padding: 20px 25px;
}
.panel-heading .icon {
    margin-right: 10px;
}
.panel-body {
    padding: 20px 25px;
}
.tab-content {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-radius: 0 0 4px 4px;
    padding: 25px;
}
.nav-tabs li a {
    padding: 20px 25px;
    font-weight: bold;
}
.nav-tabs li.active a,
.nav-tabs li.active a:hover {
    color: #00aeff
}
.nav-tabs li a:hover {
    background: none;
}
.placeholdersjs {
    color: #aaa !important;
}
@media (max-width: 992px) {
    section {
        padding: 80px 0;
    }
    .item-list-right h3,
    .item-list-left h3 {
        margin: 0 0 10px 0;
    }
}
@media (max-width: 767px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 18px;
    }
    .title h2 {
        padding: 0 0 20px 0;
        margin: 0 0 30px 0;
    }
    .title p {
        margin: -10px 0 50px 0;
    }
    .item-list-left li .icon,
    .item-list-right li .icon {
        position: relative;
        margin-bottom: 20px;
        display: block;
    }
    .item-list-left li,
    .item-list-right li {
        text-align: center;
        padding: 0 0 30px 0;
    }
    .item-list-right.item-list-big li,
    .item-list-left.item-list-big li {
        padding: 0 0 40px 0;
    }
    .nav-tabs>li {
        float: none;
    }
    .nav-tabs>li a {
        display: block;
        border-top: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-radius: 0;
        margin: 0;
    }
    .nav-tabs li:first-child a {
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs>li a:hover,
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:hover,
    .nav-tabs>li.active>a:focus {
        border-color: #ddd;
    }
}
/*----------------------------------------------------------------------------------------
										PRELOADER
----------------------------------------------------------------------------------------*/

#preloader {
    background: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    position: fixed;
    z-index: 9999;
}
#preloader .battery {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 20px;
    margin: -10px 0 0 -20px;
    border: 1px solid #00aeff;
    border-radius: 3px;
}
#preloader .battery:after {
    display: block;
    content: "";
    position: absolute;
    right: -4px;
    top: 6px;
    height: 6px;
    width: 2px;
    background: #00aeff;
    border-radius: 0 2px 20x 0;
}
#preloader .battery .load-line {
    position: absolute;
    z-index: 100;
    height: 16px;
    width: 36px;
    top: 1px;
    left: 1px;
    background: #00aeff;
    border-radius: 1px;
    -webkit-animation: battery-load 1s linear 0s infinite;
    -moz-animation: battery-load 1s linear 0s infinite;
    animation: battery-load 1s linear 0s infinite;
}
@-webkit-keyframes battery-load {
    0% {
        width: 0px;
    }
    100% {
        width: 36px;
    }
}
@keyframes battery-load {
    0% {
        width: 0px;
    }
    100% {
        width: 36px;
    }
}
#preloader .radius {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    border: 1px solid #ddd;
    border-radius: 50%;
}
#preloader .radius .load-line {
    position: absolute;
    z-index: 100;
    height: 20px;
    width: 4px;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -2px;
    border-top: 4px solid #00aeff;
    -webkit-animation: rotation 1s linear 0s infinite;
    -moz-animation: rotation 1s linear 0s infinite;
    animation: rotation 1s linear 0s infinite;
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    transform-origin: center bottom;
}
@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*----------------------------------------------------------------------------------------
									MODAL POPUP STYLES
----------------------------------------------------------------------------------------*/

.modal {
    overflow-y: auto;
    text-align: center;
}
.modal-content {
    padding: 60px 20px;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 20px;
    border: 0;
}
.modal-title {
    margin: 0;
}
.modal-title .icon {
    font-size: 48px;
    line-height: 48px;
    display: block;
    margin: 0 0 40px 0;
    color: #00aeff;
}
.modal-title .icon.icon-ban {
    color: #ce0b0b;
}
.modal-open {
    overflow: auto;
}
.modal-content .close {
    position: absolute;
    top: 10px;
    right: 15px;
}
.close {
    font-family: inherit;
    font-size: 32px;
    font-weight: 100;
    text-shadow: none;
}
.close:focus {
    outline: 0px auto -webkit-focus-ring-color;
}
/*----------------------------------------------------------------------------------------
									OWL SLIDER STYLES
----------------------------------------------------------------------------------------*/

.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
    margin-top: 100px;
}
.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.grabbing {
    cursor: url(../../../img/v2/home/grabbing1b26.png?v2) 8 8, move;
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}
.owl-pagination {
    text-align: center;
    position: absolute;
    top: -80px;
    width: 100%;
    display: block;
}
.owl-pagination .owl-page {
    height: 40px;
    width: 80px;
    line-height: 40px;
    display: inline-block;
    margin-left: 0;
    cursor: pointer;
    position: relative;
}
.owl-pagination .owl-page span {
    width: 100%;
    height: 2px;
    display: block;
    background: #eee;
    position: absolute;
    bottom: 50%;
}
.bg-color3 .owl-pagination .owl-page span {
    background: #444;
}
.owl-pagination .owl-page.active span {
    background: #00aeff;
}
@media (max-width: 767px) {
    .owl-pagination {
        display: table;
    }
    .owl-pagination .owl-page {
        display: table-cell;
    }
}
/*----------------------------------------------------------------------------------------
									ANIMATION ELEMENTS
----------------------------------------------------------------------------------------*/

.ray {
    position: absolute;
    z-index: 0;
    background: #fff;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 174, 255, .5);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 174, 255, .5);
    box-shadow: 0px 0px 5px 2px rgba(0, 174, 255, .5);
}
.ray-vertical {
    height: 200%;
    width: 1px;
    transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
}
.ray-horizontal {
    width: 200%;
    height: 1px;
    transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -webkit-transform-origin: 0 50%;
}
.y-0 {
    top: 0;
}
.y-25 {
    top: 25%;
}
.y-50 {
    top: 50%;
}
.y-75 {
    top: 75%;
}
.y-100 {
    top: 100%;
}
.x-0 {
    left: 0;
}
.x-25 {
    left: 25%;
}
.x-50 {
    left: 50%;
}
.x-75 {
    left: 75%;
}
.x-100 {
    left: 100%;
}
.ray-rotate45 {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.ray-rotate-45 {
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.ray-rotate135 {
    transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.ray-rotate-135 {
    transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.animation-box {
    display: inline-block;
    position: relative;
}
@-webkit-keyframes laser-blink {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0.5;
    }
    22% {
        opacity: 0.8;
    }
    40% {
        opacity: 0.4;
    }
    42% {
        opacity: 1;
    }
    98% {
        opacity: 0.8;
    }
}
@keyframes laser-blink {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0.5;
    }
    22% {
        opacity: 0.8;
    }
    40% {
        opacity: 0.4;
    }
    42% {
        opacity: 1;
    }
    98% {
        opacity: 0.8;
    }
}
.laser-blink {
    animation: laser-blink 0.7s linear 0s infinite;
    -webkit-animation: laser-blink 0.7s linear 0s infinite;
}
@-webkit-keyframes highlight-left {
    0% {
        opacity: 0;
        top: 100%;
        -webkit-transform: scale(0);
    }
    70% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
    100% {
        opacity: 0;
        top: 0;
        -webkit-transform: scale(0);
    }
}
@keyframes highlight-left {
    0% {
        opacity: 0;
        top: 100%;
        transform: scale(0);
    }
    70% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        top: 0;
        transform: scale(0);
    }
}
.highlight-left {
    position: absolute;
    animation: highlight-left 2s ease-in 0s infinite;
    -webkit-animation: highlight-left 2s ease-in 0s infinite;
    left: -5px;
    margin-top: -100px;
}
@-webkit-keyframes highlight-right {
    0% {
        opacity: 0;
        top: 0;
        -webkit-transform: scale(0)
    }
    70% {
        opacity: 1;
        -webkit-transform: scale(1)
    }
    100% {
        opacity: 0;
        top: 100%;
        -webkit-transform: scale(0)
    }
}
@keyframes highlight-right {
    0% {
        opacity: 0;
        top: 0;
        transform: scale(0)
    }
    70% {
        opacity: 1;
        transform: scale(1)
    }
    100% {
        opacity: 0;
        top: 100%;
        transform: scale(0)
    }
}
.highlight-right {
    position: absolute;
    animation: highlight-right 2s ease-in 0s infinite;
    -webkit-animation: highlight-right 2s ease-in 0s infinite;
    right: -5px;
    margin-top: -100px;
}
.flare {
    position: absolute;
    z-index: 2;
    top: -100px;
    right: 70px;
}
@-webkit-keyframes sunlight-blink {
    0% {
        opacity: 0;
    }
    25%,
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sunlight-blink {
    0% {
        opacity: 0;
    }
    25%,
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.flare .base {
    animation: sunlight-blink 5s ease-in 0s infinite;
    -webkit-animation: sunlight-blink 5s ease-in 0s infinite;
}
@-webkit-keyframes sunlight-shapes {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.8);
    }
    20%,
    22%,
    28%,
    30%,
    70%,
    72% {
        opacity: 0.8;
    }
    21%,
    29%,
    71% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1) translate(-5px, 5px);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.8);
    }
}
@keyframes sunlight-shapes {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    20%,
    22%,
    28%,
    30%,
    70%,
    72% {
        opacity: 0.8;
    }
    21%,
    29%,
    71% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
        transform: scale(1) translate(-5px, 5px);
    }
    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}
.flare .shapes {
    position: absolute;
    top: 170px;
    left: 70px;
    animation: sunlight-shapes 5s ease-in 0s infinite;
    -webkit-animation: sunlight-shapes 5s ease-in 0s infinite;
    transform-origin: 80% 10%;
    -webkit-transform-origin: 80% 10%;
}
@-webkit-keyframes swim {
    0% {
        -webkit-transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(470px);
    }
}
@keyframes swim {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(470px);
    }
}
.fog {
    background: url(../../../img/v2/home/fog1b26.png?v2) repeat-x bottom right;
    height: 268px;
    width: 920px;
    position: absolute;
    z-index: 2;
}
.fog-top {
    bottom: 110px;
    right: 0;
    opacity: 0.25;
    animation: swim 45s linear 0s infinite;
    -webkit-animation: swim 45s linear 0s infinite;
}
.fog-bottom {
    bottom: -20px;
    right: 0;
    opacity: 0.8;
    animation: swim 14s linear 0s infinite;
    -webkit-animation: swim 14s linear 0s infinite;
}
/*----------------------------------------------------------------------------------------
									CONTACT FORM
----------------------------------------------------------------------------------------*/

#contact_form,
#Login_Form {
    border-top: 1px solid #eee;
}
#contact_form .form-group,
#Login_Form .form-group {
    margin: 0;
}
#contact_form label,
#Login_Form label {
    display: block;
    font-size: 14px;
    font-weight: normal;
    position: relative;
}
#contact_form label.error,
#Login_Form label.error {
    /* background: #ce0b0b; */
    
    color: #ce0b0b;
    /* padding: 5px; */
    
    padding: 0px;
}
#contact_form label.error:after,
#Login_Form label.error:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    top: -5px;
    width: 0;
    height: 0;
    /*border-style: solid;*/
    
    border-width: 0 5px 5px 5px;
    /*border-color: transparent transparent #ce0b0b transparent; */
}
#contact_form label.valid,
#Login_Form label.valid {
    display: none !important;
}
#contact_form .form-control,
#Login_Form .form-control {
    /* text-align: center; 
	border-bottom: 1px solid #eee;*/
    
    line-height: 25px;
    width: 100%;
}
textarea.form-control {
    resize: vertical;
}
button#contact_submit {
    background: none;
    margin-top: 35px;
    font-size: 22px;
    height: 80px;
    width: 80px;
    line-height: 80px;
    padding: 0;
    border: 2px solid #eee;
    border-radius: 50%;
    color: #444;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
button#contact_submit:hover {
    border: 2px solid #00aeff;
}
/*----------------------------------------------------------------------------------------
										MAIN NAVIGATION
----------------------------------------------------------------------------------------*/

nav.navbar-fixed-top {
    height: 60px;
    background: #fff;
    border-bottom: 2px solid #eee;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
nav.navbar-slide.show-menu {
    top: 0;
}
.navbar .nav {
    list-style: none;
    float: right;
    z-index: 5;
    margin: 0;
}
.navbar .nav li {
    float: left;
    padding: 0;
}
.navbar .nav li a {
    display: block;
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    text-decoration: none;
    border-bottom: 2px solid #eee;
    outline: none;
    background: inherit;
}
.navbar .nav li:last-child a {} .navbar .nav li a:hover,
.navbar .nav li.active a {
    background: none;
    color: #00aeff;
    border-bottom: 2px solid #00aeff;
}
.navbar-brand {
    height: 60px;
    margin: 0;
    padding: 10px 0 0 10px;
}
.navbar-toggle {
    float: right;
    height: 60px;
    margin: 0;
    padding: 0 20px;
}
.navbar-toggle .icon-bar {
    background: #00aeff;
    height: 1px;
}
.navbar-toggle.collapsed .icon-bar {
    background: #ccc;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 7px;
}
.navbar-fixed-top {
    border-width: 0;
}
.contact-btn {
    float: right;
    cursor: pointer;
    line-height: 60px;
    font-size: 24px;
    padding: 0 20px;
    border-left: 1px solid #eee;
    color: #ccc;
    margin-left: 4px;
}
@media (max-width: 1024px) {
    .navbar-collapse {
        width: 100%;
        padding: 0;
        background: #fff;
    }
    .navbar .nav {
        float: none;
        text-align: center;
        clear: both;
    }
    .navbar .nav li {
        float: none;
    }
    .navbar .nav li a {
        border-bottom: 1px solid #eee;
    }
    .navbar .nav li a:hover,
    .navbar .nav li.active a {
        border-bottom: 1px solid #00aeff;
    }
}
/*----------------------------------------------------------------------------------------
										 SIDEBAR
----------------------------------------------------------------------------------------*/

aside.blog-sidebar {
    text-align: left;
}
aside.blog-sidebar .search #search_form {
    border: 1px solid #ddd;
}
aside.blog-sidebar .search .form-control {
    padding-right: 0;
    line-height: 20px;
}
aside.blog-sidebar .search .btn {
    background: none;
    font-size: 20px;
    color: #aaa;
    padding-right: 15px;
}
aside.blog-sidebar .search .btn:hover {
    color: #00aeff;
}
aside.blog-sidebar .widget {
    margin: 60px 0 0 0;
}
aside.blog-sidebar .widget h3 {
    padding: 0 0 20px 0;
    border-bottom: 1px solid #eee;
    margin: 0;
}
aside.blog-sidebar .category ul li {
    padding: 0;
}
aside.blog-sidebar .category ul a {
    text-decoration: none;
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}
aside.blog-sidebar .category ul a:hover {
    border-bottom: 1px solid #00aeff;
}
aside.blog-sidebar .recent_posts ul li {
    border-bottom: 1px solid #eee;
    padding: 15px 50px 15px 0;
    position: relative;
}
aside.blog-sidebar .recent_posts ul li a {
    text-decoration: none;
}
aside.blog-sidebar .recent_posts .date {
    color: #ccc;
    font-size: 14px;
    display: block;
    padding: 5px 0 0 0;
}
aside.blog-sidebar .recent_posts .comments {
    padding: 0;
    position: absolute;
    top: 15px;
    right: 0;
    font-size: 14px;
    color: #aaa;
}
aside.blog-sidebar .recent_posts .comments .icon {
    color: #aaa;
    padding-right: 5px;
}
aside.blog-sidebar .tag_cloud h4 {
    border: none;
}
.tags {
    margin-top: 25px;
}
.tags li {
    display: inline-block;
    padding: 0;
}
.tags li a {
    display: block;
    padding: 5px 10px;
    margin: 0 0 4px 0;
    text-decoration: none;
    font-size: 12px;
    color: #888;
    background: #eee;
    border-radius: 2px;
}
.tags li a:hover {
    color: #fff;
    background: #00aeff;
}
.tags.hollow li a {
    background: none;
    border: 1px solid #eee;
    color: #ccc;
}
.tags.hollow li a:hover {
    background: none;
    border: 1px solid #00aeff;
    color: #00aeff;
}
@media (max-width: 992px) {
    aside.blog-sidebar {
        margin: 80px 0 0 0;
        text-align: center;
    }
    aside.blog-sidebar .search {
        padding: 0px;
    }
    aside.blog-sidebar .recent_posts ul li {
        padding: 15px 0;
    }
    aside.blog-sidebar .recent_posts .comments {
        padding: 0;
        position: relative;
        top: auto;
        right: auto;
    }
}
/*----------------------------------------------------------------------------------------
										INTRO
----------------------------------------------------------------------------------------*/

#full-intro {
    text-align: left;
}
#blog-intro {
    text-align: center;
}
#blog-intro .container {
    padding: 150px 0 100px 0;
}
#blog-intro h1.slogan {
    margin: 0 40px;
}
#blog-intro .block-bg {
    background-image: url(../../../timthumbfa0b.jpg?src=img/v2/home/news_bg.jpg&amp;h=1000&amp;w=1500&amp;q=80);
    opacity: 0.25;
    background-position: center;
}
.intro-block .block-bg {
    background-image: url(../../../timthumb0aac.jpg?src=img/v2/home/intro_bg.jpg&amp;h=1000&amp;w=1500&amp;q=80);
    opacity: 0.4;
}
.intro-block {
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.intro-block .block-video-bg {
    opacity: 0.25;
}
#big-video-wrap video,
.vjs-control-bar {
    display: none;
}
.intro-block .ray {
    z-index: 1;
}
.intro-block .container {
    padding: 160px 0;
    z-index: 2;
}
.intro-block h1 a {
    color: inherit;
    border-bottom: 1px solid #fff;
}
.intro-block .download-btn,
.intro-block .download-btn-alt {
    margin: 0 2px;
}
.intro-block #slides {
    position: absolute !important;
    top: 0;
    z-index: 0;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    /* Safari only override */
    
    ::i-block-chrome,
    .intro-block #slides,
    ::i-block-chrome,
    .intro-block .block-bg,
    ::i-block-chrome,
    .intro-block .block-video-bg {
        position: fixed !important;
        -webkit-transform: translateZ(0);
    }
}
.intro-block #slides img {
    opacity: 0.25;
}
.intro-block .logo {
    display: inline-block;
    margin: 0 0 48px 0;
}
.intro-block h1.slogan {
    color: #fff;
    line-height: 1.25;
    margin: 0 10px 70px 10px;
    text-transform: none;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    text-align: center;
}
#minimal-intro.intro-block h1.slogan {
    margin-bottom: 100px;
}
.intro-screen {
    position: absolute;
    right: 0;
    top: 0;
}
@media (max-width: 992px) {
    #full-intro {
        text-align: center;
    }
}
@media (max-width: 767px) {
    #blog-intro .container {
        padding: 100px 0 50px 0;
    }
    .intro-block .container {
        padding: 80px 0;
    }
    .intro-block .logo {
        margin: 0 0 60px 0;
    }
}
/*----------------------------------------------------------------------------------------
										TYPED INTRO
----------------------------------------------------------------------------------------*/

.type {
    font-weight: 500;
}
#typed-cursor {
    color: #FFF;
    opacity: 1;
    font-weight: 500;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*----------------------------------------------------------------------------------------
										FEATURES
----------------------------------------------------------------------------------------*/

#features .screen {
    max-width: 100%;
    height: auto;
}
#features .icon {
    color: #000000;
}
@media (max-width: 1200px) and (min-width: 767px) {
    #features .icon {
        display: none;
    }
    .item-list-right.item-list-big li,
    .item-list-left.item-list-big li {
        padding: 0 0px 40px 0px;
    }
}
@media (max-width: 992px) and (min-width: 767px) {
    .item-list-right.item-list-big li,
    .item-list-left.item-list-big li {
        font-size: 14px;
    }
    .item-list-right h3,
    .item-list-left h3 {
        font-size: 22px;
    }
    .item-list-right li:last-child,
    .item-list-left li:last-child {
        padding-bottom: 0;
    }
}
/*----------------------------------------------------------------------------------------
										INNOVATIONS
----------------------------------------------------------------------------------------*/

#innovations .screen {
    margin-bottom: -230px;
    max-width: 100%;
    height: auto;
}
#innovations .ray {
    position: absolute;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, .7);
    -moz-box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, .7);
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, .7);
}
@-webkit-keyframes plane {
    0% {
        -webkit-transform: translateY(0);
        transform: translateX(0);
    }
    50% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateX(0);
    }
}
@keyframes plane {
    0% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
        transform: translateY(30px);
    }
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
#innovations #ray1 {
    bottom: 30px;
    animation: plane 0.8s linear 0s infinite;
    -webkit-animation: plane 0.8s linear 0s infinite;
}
#innovations #ray2 {
    bottom: 60px;
    animation: plane 1.2s linear 0s infinite;
    -webkit-animation: plane 1.2s linear 0s infinite;
}
#innovations #ray3 {
    bottom: 90px;
    animation: plane 0.9s linear 0s infinite;
    -webkit-animation: plane 0.9s linear 0s infinite;
}
#innovations #ray4 {
    bottom: 120px;
    animation: plane 1.7s linear 0s infinite;
    -webkit-animation: plane 1.7s linear 0s infinite;
    opacity: 0.6;
}
@media (max-width: 992px) {
    #innovations .screen {
        margin-bottom: 0px;
    }
}
/*----------------------------------------------------------------------------------------
										BENEFITS
----------------------------------------------------------------------------------------*/

.img-block-2col {
    text-align: left;
}
.img-block-2col .title h2:after {
    left: 0;
    margin-left: 0;
}
.screen-couple-right,
.screen-couple-left {
    position: relative;
    max-width: 400px;
    min-width: 280px;
    overflow: hidden;
    z-index: 100;
}
.screen-couple-right:after,
.screen-couple-left:after {
    content: '';
    display: block;
    clear: both;
}
.screen-couple-right .screen {
    position: relative;
    float: right;
}
.screen-couple-left .screen {
    position: relative;
    float: left;
}
.screen-couple-right .above,
.screen-couple-left .above {
    z-index: 3;
}
.screen-couple-right .beyond,
.screen-couple-left .beyond {
    z-index: 1;
    position: absolute;
    top: 40px;
}
.screen-couple-left .beyond {
    right: 0;
}
.screen-couple-right .beyond {
    left: 0;
}
@media (max-width: 992px) and (min-width: 767px) {
    #benefits1,
    #benefits2 {
        font-size: 14px;
    }
}
@media (max-width: 767px) {
    .img-block-2col {
        text-align: center;
    }
    .img-block-2col .title h2:after {
        left: 50%;
        margin-left: -40px;
    }
    .screen-couple-right,
    .screen-couple-left {
        margin: 50px auto 0 auto;
    }
}
/*----------------------------------------------------------------------------------------
										SCREENSHOTS
----------------------------------------------------------------------------------------*/

#screenshots h2 {
    margin: 0;
}
#screenshots .item img {
    border-radius: 4px;
}
/*----------------------------------------------------------------------------------------
										FACTS
----------------------------------------------------------------------------------------*/

.facts-list {
    width: 100%;
}
.facts-list li {
    display: block;
    float: left;
    width: 25%;
    position: relative;
    z-index: 1;
}
.facts-list .icon {
    display: block;
    font-size: 64px;
    color: #AB8C5B;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    margin: 0 0 30px 0;
}
.facts-list h3 {
    font-size: 50px;
    font-weight: bold;
    color: #222;
    margin: 0 0 10px 0;
}
.facts-list h4 {
    font-size: 20px;
    color: #AB8C5B;
    margin: 0;
}
.facts-list li:hover .icon {
    color: #00aeff;
}
@media (max-width: 767px) {
    .facts-list li {
        width: 100%;
        margin-bottom: 40px;
    }
    .facts-list li:last-child {
        margin-bottom: 0px;
    }
    .facts-list .icon {
        margin: 0 0 15px 0;
    }
}
/*----------------------------------------------------------------------------------------
										PRICING TABLES
----------------------------------------------------------------------------------------*/

ul.pricing-table {
    display: block;
    width: 100%;
}
ul.pricing-table:after {
    display: block;
    content: "";
    clear: both;
}
ul.pricing-table > li {
    display: block;
    position: relative;
    z-index: 1;
    float: left;
    width: 22%;
    background: #fff;
    color: #444;
    border-radius: 5px;
    margin: 0 4% 0 0;
    padding: 0;
}
ul.pricing-table > li:last-child {
    margin-right: 0;
}
ul.pricing-table .stamp {
    position: absolute;
    right: -20px;
    top: 60px;
    height: 80px;
    width: 80px;
    padding: 10px;
    border-radius: 50%;
    overflow: hidden;
    font-size: 12px;
    background: #fff;
    border: 1px solid #eee;
    text-transform: uppercase;
    line-height: 1;
    font-weight: bold;
    letter-spacing: -1px;
}
ul.pricing-table .stamp .icon {
    display: block;
    padding: 0 0 4px 0;
    font-size: 27px;
}
ul.pricing-table h3 {
    display: block;
    padding: 30px 5px 30px 5px;
    margin: 0;
    border-radius: 5px 5px 0 0;
    border-bottom: 2px dotted #eee;
}
ul.pricing-table li.silver h3 {
    background: #eee;
    border-bottom: 2px dotted #eee;
}
ul.pricing-table li.silver .stamp {
    color: #888;
    border: 1px solid #888;
}
ul.pricing-table li.gold h3 {
    background: #fff29d;
    color: #a98815;
    border-bottom: 2px dotted #fff29d;
}
ul.pricing-table li.gold .stamp {
    color: #a98815;
    border: 1px solid #a98815;
}
ul.pricing-table li.platinum h3 {
    background: #444;
    color: #fff;
    border-bottom: 2px dotted #444;
}
ul.pricing-table li.platinum .stamp {
    color: #444;
    border: 1px solid #444;
}
ul.pricing-table span {
    display: block;
    font-size: 40px;
    font-weight: bold;
    color: #222;
    padding: 30px 0;
    line-height: 1.3;
}
ul.pricing-table span small {
    font-size: 14px;
    font-weight: normal;
    color: #ccc;
    display: block;
    line-height: 1;
}
ul.pricing-table .benefits-list {
    margin: 0 0 30px 0;
}
ul.pricing-table .benefits-list li {
    padding: 5px 0;
}
ul.pricing-table .benefits-list li.not {
    text-decoration: line-through;
    color: #ddd;
}
ul.pricing-table a.buy {
    display: block;
    padding: 15px;
    font-size: 28px;
    background: #f2f2f2;
    border-radius: 0 0 5px 5px;
}
ul.pricing-table a.buy:hover .icon-basket:before {
    content: "\e04d";
}
@media (max-width: 992px) {
    ul.pricing-table > li {
        width: 46%;
        margin: 0 2% 30px 2%;
    }
}
@media (max-width: 767px) {
    ul.pricing-table > li {
        width: 100%;
        margin: 0 0 20px 0;
    }
}
/*----------------------------------------------------------------------------------------
										TESTIMONIALS
----------------------------------------------------------------------------------------*/

#testimonials h2 {
    margin: 0;
}
#testimonials .item {
    padding-top: 20px;
}
#testimonials .talk {
    font-size: 25px;
    font-weight: bold;
    line-height: 2;
    margin: 0 0 50px 0;
}
#testimonials .photo {
    border-radius: 50%;
    margin: 0 0 20px 0;
}
#testimonials .ocupation {
    color: #888;
}
#testimonials .block-bg {
    opacity: 0.2;
    background-image: url(../../../timthumb21eb.jpg?src=img/v2/home/testimonials_bg.jpg&amp;h=1200&amp;w=1600&amp;q=80);
}
@media (max-width: 767px) {
    #testimonials .talk {
        font-size: 20px;
    }
}
/*----------------------------------------------------------------------------------------
										NEWS
----------------------------------------------------------------------------------------*/

.news-list {
    border-top: 1px solid #eee;
    margin-bottom: 60px;
}
.news-list li {
    border-bottom: 1px solid #eee;
    padding: 60px 0;
}
.news-list li h3 {
    font-size: 25px;
    font-weight: bold;
    text-transform: none;
    margin: 0 0 25px 0;
}
.news-info {
    margin: 0 0 30px 0;
}
#news .news-info {
    margin: 0;
}
.news-info > div {
    display: inline-block;
    padding: 0 30px 0 0;
}
.news-info div:last-child {
    padding: 0;
}
.news-info > div .icon {
    margin: 0 10px 0 0;
    color: #ccc;
}
@media (max-width: 767px) {
    .news-list li {
        padding: 40px 0;
    }
    .news-list li h3 {
        font-size: 20px;
    }
    .news-info > div {
        font-size: 14px;
        padding: 0 10px 0 0;
    }
    .news-info > div .icon {
        margin: 0 5px 0 0;
    }
}
/*----------------------------------------------------------------------------------------
										BLOG
----------------------------------------------------------------------------------------*/

#blog {
    text-align: left;
}
.single-content-sidebar h3 {
    margin: 0 0 25px 0;
}
.single-content-sidebar .tags,
.single-content .tags {
    margin: 40px 0 0 0;
}
.single-content .sep:first-child {
    margin-top: 0;
    padding-top: 0;
}
h2.head,
.post-list li h2 {
    font-size: 35px;
    font-weight: bold;
    text-transform: none;
    margin: 0 0 25px 0;
}
.post-list {
    border-top: 0;
}
.post-list li {
    padding: 70px 0 20px 0;
}
.post-list li:first-child {
    padding-top: 0;
}
.post-content img {
    margin: 0 0 20px 0;
}
.post-content .read-more {
    display: inline-block;
    padding: 0px 5px;
    margin: 0 0 -4px 5px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    background: #ccc;
    border-radius: 2px;
    color: #fff;
    letter-spacing: 1px;
}
.post-content .read-more:hover {
    background: #00aeff;
}
.post-pagination li {
    margin: 0 10px 10px 0;
    display: inline-block;
}
.post-pagination li:last-child {
    margin-right: 0;
}
.post-pagination li a {
    display: block;
    position: relative;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 48px;
    border: 1px solid #eee;
    border-radius: 50%;
    color: #aaa;
    z-index: 1;
}
.post-pagination li.active a,
.post-pagination li a:hover {
    color: #444;
    border: 1px solid #00aeff;
}
.post-pagination li.prev a:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -5px 0 0 -3px;
    height: 10px;
    width: 10px;
    border-top: 1px solid #444;
    border-left: 1px solid #444;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.post-pagination li.next a:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -5px 0 0 -7px;
    height: 10px;
    width: 10px;
    border-top: 1px solid #444;
    border-right: 1px solid #444;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
@media (max-width: 992px) {
    #blog {
        text-align: center;
    }
}
@media (max-width: 320px) {
    section#blog {
        padding: 50px 0;
    }
    .post-pagination li {
        display: none;
    }
    .post-pagination li.prev,
    .post-pagination li.next {
        display: inline-block;
    }
    .post-list .news-info {
        margin: 0 0 10px 0;
    }
    .post-list li {
        padding: 50px 0 10px 0;
    }
    .news-list {
        margin-bottom: 40px;
    }
    h2.head,
    .post-list li h2 {
        font-size: 25px;
        margin: 0 0 10px 0;
    }
}
/*----------------------------------------------------------------------------------------
											COMMENTS
----------------------------------------------------------------------------------------*/

.comments {
    padding: 80px 0 0 0;
}
.comments li {
    padding: 0;
}
.comment-list .children {
    margin-left: 80px;
}
.comment-body {
    border-top: 1px solid #eee;
    position: relative;
    padding: 40px 0 40px 80px;
}
.comment-body .photo {
    position: absolute;
    left: 0;
    top: 40px;
}
.comment-body .photo img {
    border-radius: 5px;
    width: 50px;
    height: auto;
}
.comment-body .comment-data {
    margin-top: 10px;
    font-size: 14px;
}
.comment-body .comment-data .author {
    color: #444;
    font-weight: bold;
    padding-right: 20px;
    font-size: 14px;
}
.comment-body .comment-data .date {
    color: #ccc;
    padding-right: 20px;
}
.comment-body .comment-data a {
    color: #ccc;
}
.comments .comment-respond {
    margin: 80px 0 0 0;
}
.comments #comment_form {
    border: 1px solid #eee;
}
.comments #comment_form:after {
    content: '';
    display: block;
    clear: both;
}
.comments #comment_form > div {
    padding: 0;
}
#comment_form .btn_send {
    width: 100%;
    background: #eee;
    font-weight: bold;
    color: #777;
    margin: 0;
}
#comment_form .form-group {
    border-bottom: 1px solid #eee;
}
#comment_form .form-group label.error,
#comment_form .form-group label.valid {
    display: block;
    margin: 0;
    font-size: 12px;
    position: relative;
    padding: 5px 20px;
    font-weight: 300;
    color: #fff;
    text-align: left;
}
#comment_form .form-group label.error {
    background: #d12525;
}
#comment_form .form-group label.error:before {
    position: absolute;
    left: 20px;
    top: -7px;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 7px 7px;
    border-color: transparent transparent #d12525 transparent;
}
#comment_form .form-group label.valid {
    padding: 0;
}
#comment_form .form-group label.valid:before {
    display: none;
}
@media (max-width: 992px) {
    .comments {
        padding: 60px 0 0 0;
    }
    .comments .form-control {
        text-align: center;
    }
    .comments .comment-respond {
        margin: 40px 0 0 0;
    }
    .comment-body {
        padding: 30px 0;
    }
    .comment-list .children {
        margin-left: 0;
    }
    .comment-body .photo {
        position: relative;
        left: auto;
        top: auto;
        margin: 0 auto 20px auto;
    }
    .comment-body .comment-data .author {
        display: block;
        padding: 0;
    }
    .comment-body .comment-data .date {
        display: block;
        padding: 0;
    }
}
/*----------------------------------------------------------------------------------------
										SOCIAL
----------------------------------------------------------------------------------------*/

.soc-list {
    margin: 0 0 20px 0;
}
.soc-list li {
    display: inline-block;
}
.soc-list .icon {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 20px;
    border-radius: 50%;
    background: #ddd;
    margin: 5px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.soc-list li .icon:hover {
    background: #00aeff;
}
.soc-list .soc-icon-twitter {
    background: #00aced;
}
.soc-list .soc-icon-facebook {
    background: #3b5998;
}
.soc-list .soc-icon-dribbble {
    background: #ea4c89;
}
.soc-list .soc-icon-googleplus {
    background: #dd4b39;
}
.soc-list .soc-icon-linkedin {
    background: #007bb6;
}
.soc-list .soc-icon-instagram {
    background: #517fa4;
}
.soc-list .soc-icon-pinterest {
    background: #cb2027;
}
.soc-list .soc-icon-flickr {
    background: #ff0084;
}
#subscribe_form .input-group {
    margin: 0 auto;
}
#subscribe_form .form-control,
#subscribe_form button {
    border-radius: 30px 0 0 30px;
    height: 60px;
    background: #fff;
    font-size: inherit;
}
#subscribe_form button {
    font-size: 22px;
    line-height: 26px;
    padding: 17px 25px;
    border-radius: 0 30px 30px 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
#subscribe_form button:hover {
    color: #00aeff;
}
label.error {
    padding: 0 0 0 0;
    color: #DE2B4E !important;
}
@media (min-width: 767px) {
    #subscribe_form .input-group {
        width: 600px;
    }
}
/*----------------------------------------------------------------------------------------
										DOWNLOAD
----------------------------------------------------------------------------------------*/

#download {
    padding: 70px 0;
}
#download h2 {
    color: #fff;
    margin: 30px 0;
}
#download h2 .icon {
    margin: 0 20px 0 0;
}
#download .block-bg {
    background-image: url(../../../timthumb5db6.jpg?src=img/v2/downloa_bg.jpg&amp;h=1200&amp;w=1600&amp;q=80);
    background-position: left center;
    height: 300%;
}
@media (max-width: 767px) {
    #download h2 {
        margin: 0;
    }
    #download h2 .icon {
        margin: 0 0 10px 0;
        display: block;
    }
}
/*----------------------------------------------------------------------------------------
										FOOTER
----------------------------------------------------------------------------------------*/

footer {
    text-align: center;
    padding: 20px 0;
    background: #ffffff;
    color: #888;
}
footer .copyright {
    display: block;
    margin: 40px 0 0 0;
}
.copyright a {
    font-weight: bold;
    color: inherit;
}
.footer-left {
    text-align: left !important;
}
.footer-right {
    text-align: right !important;
}
.footer_links li:first-child a {
    padding-left: 0;
}
.social {
    margin-top: 20px;
}
@media (max-width: 992px) {
    footer {
        padding: 10px 0;
    }
    .footer-left,
    .footer-right {
        text-align: center !important;
    }
}
/*-----------------------------Changed by Arun on 11-02-16--------------------------------*/

#innovations .title p {
    text-align: left;
}
.brochure_div {
    float: right;
    padding: 20px 0;
}
a.brochure_link span {
    background: rgba(0, 0, 0, 0) url("../../../img/v2/home/brochure1b26.png?v2") no-repeat scroll 0 0;
    display: block;
    height: 88px;
    width: 392px;
    text-align: center;
    outline: none;
}
#modalContact .modal-content {
    padding: 40px 0px;
}
#modalContact .modal-title {
    margin: 0 0 40px 0;
}
#modalContact .modal-content input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #ffffff none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color hsl(204, 8%, 76%);
    border-image: none;
    border-radius: 0;
    border-style: none none solid;
    border-width: 0 0 1px;
    font-size: 15px;
    line-height: 1.467;
    opacity: 1;
    padding: 4px;
    transition: opacity 0.6s ease 0s;
    width: 100%;
}
#modalContact .modal-content input:focus,
#modalContact .modal-content textarea:focus {
    border-color: #F7C335;
    color: hsl(210, 29%, 29%);
    outline: none;
    list-style: none;
}
#modalContact .modal-content .input.text {
    padding-bottom: 18px;
}
#modalContact .modal-content #contact_form label,
#modalContact .modal-content #Login_Form label {
    text-align: left;
    color: #fff;
    margin-left: 15px;
}
#modalContact .modal-content label {
    text-align: left;
    color: #666;
    font-weight: normal;
    font-size: 14px;
    display: block;
}
#modalContact .modal-content #contact_form input[type="submit"],
#modalContact .modal-content #Login_Form input[type="submit"] {
    background: #f03e3e none repeat scroll 0 0;
    border: 0 none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 17px;
    font-weight: 700;
    line-height: 1em;
    padding: 17px;
    text-transform: uppercase;
    transition: background 0.3s ease 0s;
    width: auto;
}
#modalContact .modal-content form {
    border-radius: 3px;
    padding-top: 40px;
    text-align: center;
}
.contact_address {
    padding-bottom: 15px;
    padding-top: 15px;
}
.user_contact_from {
    padding: 0 !important;
}
.download_app_icons {
    text-align: center;
}
.footer_links a {
    font-size: 13px;
    padding: 0 7px;
}
.user_contact_from .contact_address:nth-last-child(1) {
    border-bottom: none;
}
button#contact_submit {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #eee;
    border-radius: 50%;
    color: #444;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    padding: 0;
    transition: all 0.4s ease-in-out 0s;
    width: 95px;
}
#features .icon,
#features h3 {
    color: #AB8C5B;
}
/* +++++After+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.modal-content:after {
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}
/* +++++/After+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*-----------------------------Changed by Arun on 11-02-16--------------------------------*/
/*----------------------------------------------------------------------------------------
										SHORTCODES
----------------------------------------------------------------------------------------*/

#shortcodes .btn,
#shortcodes .round-btn,
#shortcodes .round-btn-sm,
#shortcodes .download-btn,
#shortcodes .download-btn-alt {
    margin: 2px 0;
}
/*-----------------------------open-shaiju on 12-08-16--------------------------------*/

@media (min-width: 992px){

.navbar-collapse {max-height: 340px;overflow-x: visible;padding-right: 15px;padding-left: 15px;border-top: 1px solid transparent;box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);-webkit-overflow-scrolling: touch;}    
}
@media (min-width: 1024px){
.navbar-collapse {width: 100%;padding: 0;background: #fff;}
.navbar-collapse.in {overflow-y: auto !important;}
}

@media (max-width: 1024px){
.navbar-toggle {display:block;}  
.navbar-collapse.collapse{display: none !important;}
.navbar-collapse.collapse.in{ display: block !important;}
}

@media screen and (min-device-width: 1024px) and (max-device-width:1200px) { 
.navbar-collapse {width: 100%;padding: 0;background: #fff;}
.navbar-collapse.in {overflow-y: auto !important;}
.navbar-collapse.collapse{display: none !important;}
.navbar-collapse.collapse.in{ display: block !important;}
.navbar-toggle {display:block;}
.navbar .nav li{ float: none;}
.navbar .nav{ width: 100%;}
}

/*-----------------------------close-shaiju on 12-08-16--------------------------------*/

/*----------shaiju-29-09-16-open---------------*/
.reg-log-common{text-align: center;margin: auto;display: inline-flex;}
.reg-log-common li.reg-buttns {float: left !important;width: 50%;max-width: 120px;text-align: center;}
.reg-log-common li.logs-buttns {float: right;width: 50%;max-width: 120px;}
@media (max-width:480px) {
.reg-log-common{ display: block;}
.reg-log-common li.reg-buttns, .reg-log-common li.logs-buttns{ float: none; width: 100%; max-width: none;}
}
/*----------shaiju-29-09-16-close---------------*/


/*----------shaiju-06-10-16-open---------------*/

/* checkbox--open----*/
.jcf-checkbox {
	    vertical-align: middle;
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: default;
    background: #fff;
    border: 1px solid #777;
    margin: 0 5px 0 0;
    height: 16px;
    width: 16px;
    padding: 8px;
}
.jcf-checkbox span{
	position:absolute;
	display:none;
	height:4px;
	width:8px;
	top:50%;
	left:50%;
	margin:-7px 0 0 -6px;
	border:3px solid #777;
	border-width:0 0 3px 3px;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')";
}
:root .jcf-checkbox span {
    margin: -4px 0 0 -5px;
    font-size: 34px;
    width: 10px;
    height: 6px;
}
.jcf-checkbox input[type="checkbox"] {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	left: 0;
	top: 0;
}
.jcf-checkbox.jcf-checked span{display:block;}


/* common styles */
.jcf-disabled {background: #ddd !important;}
.jcf-focus, .jcf-focus * {border-color: #108785 !important;}

/* checkbox--close----*/


@media screen and (max-width: 667px){
.reg-log-common .logs-buttns a.mob-login-btn, .reg-log-common .reg-buttns a.mob-reg-btn{ 
background-color: #ffffff;color:#7D6948 !important;border: 1px solid #B2AA9B;border-radius: 5px;height: inherit;line-height: 43px;text-transform: uppercase;
letter-spacing: 1px; font-size: 14px;font-weight: normal;
    
}  
.modal-content input{-moz-border-bottom-colors: none; -moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;
background: #ffffff;border-color: -moz-use-text-color -moz-use-text-color hsl(204, 8%, 76%);border-image: none;border-radius: 0;border-style: none none solid;
border-width: 0 0 1px;font-size: 15px;line-height: 1.3em;opacity: 1;padding: 15px 15px 15px 0;transition: opacity 0.6s ease 0s;width: 100%;}
.modal-content{ padding-top: 20px;}
.modal-content input {padding: 15px;font-weight: bold;}
.modal-content  .input.text, .modal-content .input.password {padding-bottom: 18px;}   
 .modal-content .submit-main .submit {float: none !important;}
    
.modal-content #contact_form input[type="submit"], .modal-content #Login_Form input[type="submit"], .user_contact_from .conatct_address input[type="submit"], #Forgot_Form input[type="submit"] {
background: #f03e3e none repeat scroll 0 0;border: 0 none;border-radius: 5px;color: #ffffff;cursor: pointer;display: inline-block;font-size: 17px;font-weight: 700;
line-height: 1em;padding: 17px;text-transform: uppercase;transition: background 0.3s ease 0s;width: auto;float: right;}
.modal-content .col-md-12.forgot-pwd-link {text-align: center !important;font-size: 14px; font-weight: bold;}
    
.modal-content input {padding: 15px;font-weight: normal; !important}
.modal-content .user_register_form label.error{text-align: left;color: #666;font-weight: normal!important;font-size: 14px!important;}   
    
.main_banner_div .badge_icon {top: -3px;}  
.modal-content  .input.text, .modal-content .input.password{ padding-bottom: 0;}
}
@media screen and (max-width: 980px){
.keep-logged-in .input.checkbox, #forgot_password_link{padding-left: 0;display: flex;line-height: 20px;} 
.morph-content .keep-logged-in {display:block !important;}
}

.morph-content .user_register_form label {text-align: left;color: #666;font-weight: normal!important; font-size: 14px!important;display: block;}

@media screen and (max-width: 375px){
a.download-btn-alt.ios-btn {margin-bottom: 10px;}
.modal-content .input.text, .modal-content .input.password,  .modal-content .input.email{padding-bottom: 10px;}
}

/*----------shaiju-06-10-16-close---------------*/


