.f30 {
font-size: 30px;
}
.text-primary {
color: #a768f3 !important;
}
.app-header .d-user span, .f12 {
font-size: 12px;
}

.wb-icon-box {
display: inline-block;
width: 50px;
height: 50px;
text-align: center;
line-height: 60px;
}
.f30 {
font-size: 30px;
}
.task-d-list {
margin-bottom: 0;
}
.custom-checkbox .custom-control-indicator {
border-radius: .25rem;
}
.custom-control-indicator {
position: absolute;
top: .25rem;
left: 0;
display: block;
width: 1rem;
height: 1rem;
pointer-events: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-color: #ddd;
background-repeat: no-repeat;
background-position: center center;
background-size: 50% 50%;
}
.task-d-list li:hover .task-list-action {
opacity: 1;
}
.task-d-list li .task-list-action {
opacity: 0;
}
.task-d-list li {
margin-bottom: 14px;
}
.quick-links-grid {
display: inline-block;
width: 100%;
}
.quick-links-grid .ql-grid-item {
display: inherit;
width: 49.3%;
padding: 20px 5px;
text-align: center;
vertical-align: middle;
text-decoration: none;
color: #45567c;
}
.quick-links-grid .ql-grid-item i {
-webkit-transition: all .3s;
transition: all .3s;
text-align: center;
color: #d2d6eb;
font-size: 32px;
}
.quick-links-grid .ql-grid-item .ql-grid-title {
display: block;
margin: 10px 0 0;
text-align: center;
font-size: 12px;
font-weight: 400;
line-height: 1;
}
.f60 {
font-size: 60px;
}
.table-vertical-middle tr td {
vertical-align: middle;
}
.table td, .table th {
padding: 0.6 rem 1rem;
}
.border, .table td, .table th {
border-color: #e5e9ec !important;
}
.table tfoot th, .table thead th {
vertical-align: bottom;
border-bottom: none;
}
.table thead th {
border-top: none;
}
.card .card-header .card-title {
margin-bottom: 0;
color: #53505f;
font-size: 18px;
font-weight: 500;
}
.lobicard-custom-icon > .card-header .dropdown, .card-shadow .card-header .dropdown, .lobicard-custom-control .card-header .dropdown {
display: inline-block;
float: right;
position: relative;
}
.lobicard-custom-icon > .card-header .dropdown .tools, .card-shadow .card-header .dropdown .tools, .lobicard-custom-control .card-header .dropdown .tools {
margin: 0px;
}
.card-shadow {
border: none;
box-shadow: 0 1px 10px 1px rgba(115,108,203,.1);
}
.card .card-header {
padding: 1rem;
border-bottom: 1px solid #e5e9ec;
background: #fff;
}
.nav-pills-sm .nav-link {
padding: .4em 1em;
font-size: 12px;
}
.nav-pill-custom .nav-link, .nav-pills-sm .nav-link {
border-radius: 30px !important;
}
.lobicard-custom-control .card-header .dropdown .tools {
margin: 0px;
}
.lobicard-custom-control .card-header .dropdown .tools a {
color: #fff;
}
